html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 20px;

}

body{
  font
  margin: 0;
  transition: .75s;
  font-family: 'open sans';
  background-color: #0F1A26;
  color: #fff;
}

#intersection-point {
  height: .5px;
  width: .5px;
  margin-top: 10%;
}

/* --------------------NAVBAR--------------------- */
/* Big Navbar */
#top-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 40%;
  width:100%;
  background-color: #023a66;
  z-index: -1;
}
.nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 10%;
  width:100%;
  background-color: #023a66;
  z-index: 0;
  transition: .75s;
}
/* Shrunk Navbar */
.nav-shrunk {
  position: fixed;
  top: 0;
  left: 0;
  height: 10%;
  width:100%;
  background-color: #023a66;
  transition: .75s;
}
/* Navbar button grid */
.nav-items {
  top: 130%;
  transition: .75s;
}
/* Shrunk navbar button grid */
.nav-items-shrunk {
  top: 3%;
  transition: .75s;
}
/* Nav button */

.nav-btn{
  z-index: 2;
  padding: 1% 0;
  margin: 1%;
  width: 9.9%;
  border: .1px solid #e65400;
  border-radius: 5px;
  box-shadow: 0px 2.3px 0px #af480d, 0px 3px 15px rgba(0,0,0,.4);
  outline: none;
  background-color: #e65400;
  color: #fff;
  font-size: 7px;
  transition: .75s;
}
/* Shrunk nav buttpn */
.nav-btn-shrunk{
  float: right;
  z-index: 2;
  padding: 1% 0%;
  margin: 1%;
  width: 9.9%;
  border: .1px solid #e65400;
  border-radius: 5px;
  box-shadow: 0px 1.4px 0px #af480d, 0px 3px 15px rgba(0,0,0,.4);
  outline: none;
  background-color: #e65400;
  color: #fff;
  font-size: 7px;
  transition: .75s;
}


.nav-btn:active {
  top: 4px;
  box-shadow: 0px 0px 0px #af480d;
}

.nav-btn-shrunk:active {
  top: 4px;
  box-shadow: 0px 0px 0px #af480d;
}


/* Buttons */
#quote  {

}

#contact-us {

}

/* Logo */
.logo {
  z-index: 2;
  position: absolute;
  height: 41%;
  left: 29%;
  top: 22.7%;
  width: auto;
  transition: .67s;
}
/* Shrunk logo */
.logo-shrunk {
  z-index: 2;
  position: fixed;
  left: 4%;
  top: 6%;
  height: 90%;
  width: auto;
  filter: brightness(75%);
  transition: .67s;
  grid-area: logo
}

/* ---------------------Greeting------------------- */

#greeting{
  margin-top: 30%;
}

#greeting p {
  font-size: .75em;
}

/* -------------------Content Grid----------------- */

#content-grid {
  display: grid;
  grid-template: 60vh / 33% 33% 33%;
  align-items: center;
  justify-items: center;
}

#content-grid p {
  height: 100px;
  width: 100px;
}
