html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 2px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 20px;

}

body{
  margin: 0;
  transition: .75s;
  font-family: 'open sans';
  background-color: #02252f;
  color: #fff;
  font-size: 16px;
}

#intersection-point {
  position: absolute;
  height: 1px;
  width: 1px;
  top: 7.75%;
}

/* --------------------NAVBAR--------------------- */
/* Big Navbar */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 40vh;
  width:100%;
  background-color: #043442;
  transition: .75s;
  z-index: 0;
}
/* Shrunk Navbar */
.nav-shrunk {
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  width:100%;
  background-color: #043442;
  box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.36);
  transition: .75s;
}

#nav-items ul {
  list-style: none;
  display: inline;
}
#nav-items ul li{
  width: 10%;
  margin: 0;
  font-size: 12px;
}


/* Nav button */
.nav-btn{
  z-index: -2;
  width: fit-content;
  margin: 1%;
  border: 1px solid #be023d;
  border-radius: 7px;
  background-color: #be023d;
  color: #fff;
  font-size: 7px;
}

/* Buttons */
#quote  {
  position: absolute;
  bottom: 5%;
  right: 41%;
}
.quote-anim {
  animation: pop-in 0.5s;
}
.grid-quote-anim {
  animation: slide-from-right .5s;
}

@keyframes pop-in {
50%  {transform: scale(1.2  );}
}
@keyframes slide-from-right {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0%); }
}


.grid-quote{
  position: fixed;
  z-index: 2;
  bottom: 91%;
  right: 4%;
  font-size: 4.5px;
  animation: slide-from-right .5s;
}

/* Logo */
.logo {
  transition: .67s;
  display: block;
  height: 50%;
  margin: 29.34vh auto 0;
}
/* Shrunk logo */
.logo-shrunk {
  transition: .67s;
  display: block;
  height: 91%;
  margin: 2.34vh auto 0;
  filter: brightness(75%);
  transition: .67s;
}

/* -------------------Content Grid----------------- */

#greeting {
  width: 75vw;
  margin: 68vh auto 0;
}

#greeting p{
  font-size: .45em;
  margin: 0 auto;
}

#greeting #disc {
  padding-top: 5vh;
  font-size: .2em;
}

#content-grid {
  margin-top: 40%;
  display: grid;
  grid-template: 60vh / 33% 33% 33%;
  align-items: center;
  justify-items: center;
}

#content-grid p {
  height: 100px;
  width: 100px;
}
