:root {
  --navColor: #043442;
  --mainBG: #576e74;
  --altBG: #8bacb6;
  --textDark: #0c2232;
  --textLight: #c9d7f2;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 2px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 20px;

}

body{
  margin: 0;
  transition: .75s;
  font-family: 'open sans';
  background-color: var(--mainBG);
  color: #fff;
}

#tear1, #torneffect {
  margin: 0;
  transform: translateY(-5px);
  width: 100%;
}
#torneffect {
}

#intersection-point {
  position: absolute;
  height: 1px;
  width: 1px;
  top: .75%;
}

/* --------------------NAVBAR--------------------- */
/* Big Navbar */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 40vh;
  width:100%;
  background-color: var(--navColor);
  transition: .75s;
  z-index: 2;
}
/* Shrunk Navbar */
.nav-shrunk {
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  width:100%;
  background-color: var(--navColor);
  box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.36);
  transition: .75s;
  z-index: 2;
}

#nav-links {
  z-index: 4;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 2.375em;
  align-items: center;
  text-align: center;
  font-size: 1em;
  grid-template-areas: ". Home Pricing About";
  transition: .75s;
}
.nav-links{
  top: 35%;
}
.nav-links-shrunk{
  top: 4%;
}

#nav-links a {
  text-decoration: none;
  font-variant: small-caps;
  font-weight: 400;
  color: #82a7b5;
  transition: .25s;
}

#nav-links a:hover {
  color: #fff;
}


/* Logo */
.logo {
  transition: .67s;
  display: block;
  height: 63%;
  margin: 29.34vh auto 0;
}
/* Shrunk logo */
.logo-shrunk {
  transition: .67s;
  display: block;
  height: 91%;
  margin: 2.34vh auto 0;
  filter: brightness(75%);
  transition: .67s;
}

/* -------------------Homepage----------------- */
/* Buttons */
#quote-box {
  margin: 3% auto 0;
  padding-bottom: 3.33vh;
}
#quote-box div {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}
#quote-box input {
  background-color: #2b3b40;
  margin: .9% 0 .9% auto;
  display: block;
  border: .5px solid #233542;
  border-radius: 2.5px;
  font-size: 1.25em;
  box-sizing: border-box;
  text-align: center;
}

#torn-paper {
  position: absolute;
  height: 24%;
  width: 34%;
  top: 71%;
  left: 33%;
  z-index: -2;
}
#quote  {
  z-index: -2;
  width: fit-content;
  margin: 1%;
  border: .25px solid #be023d;
  border-radius: 7px;
  color: var(--textLight);
  background-color: #be023d;
  display: block;
  margin-right: auto;
  font-size: 1.25em;
  transition: .7s;
  outline: none;
}

#quote:hover {
  background-color: #ff0000;
}
.quote-anim {
  animation: pop-in 0.5s;
}
.grid-quote-anim {
  animation: slide-from-right .5s;
}

@keyframes pop-in {
  50%  {transform: scale(1.2  );}
}
@keyframes slide-from-right {
  0% { transform: translateX(100%); }
  50% { transform: translateX(-40%); }
  100% { transform: translateX(0%); }
}


.grid-quote{
  position: fixed;
  z-index: 2;
  bottom: 91%;
  right: 4%;
  font-size: 4.5px;
  animation: slide-from-right .5s;
}

#greeting {
  width: 75vw;
  margin: 59vh auto 0;
  text-align: center;
  color: var(--textDark);
}

#greeting h1{
  font-size: 1.525em;
  margin: 0 auto;
}

#greeting #disc {
  padding: 2.5vh;
}

/* ---------------------Products----------------------- */

#products {
  margin-top: 24vh;
  background-color: var(--altBG);
  color: var(--textDark);
}
#products h2, #staff h2 {
  font-variant: small-caps;
  text-align: center;
  padding-top: 5vh;
  margin-top: 0;
}


#product-grid {
  margin: 0 auto;
  display: grid;
  grid-template: repeat(2, 25vh) / repeat(2, 35vh);
  grid-gap: 10vh;
  justify-content: center;
  align-content: center;
}

.product-grid-item img {
  width: 35vh;
  transition: .75s;
}

.product-grid-item {
  transition: .75s;
}



.product-grid-item p {
  margin: 0;
  text-align: center;
  font-variant: small-caps;
}

/* ---------------------Staff---------------------- */

#staff #staff-container{
  height: 110vh;
  background-color: #08495c;
}

#staff p {
  text-align: center;
  width: 55vw;
  margin: 10px auto 0;
}

#the-team{
  display: block;
  margin: 0 auto;
  box-shadow: 6px 13px 33px 1px rgba(0,0,0,0.66);
}


/* ---------------------Footer--------------------- */
footer {
  font-size: 66%;
  width: 75vw;
  margin: 0 auto;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 20vw);
}

.footer-col p{
  margin: .25em;
}
.footer-col p:hover{
  text-decoration: underline;
}

#copyright {
  margin-top: 2%;
  font-size: .75em;
}
